# PHP
/vendor/
composer.lock

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/*.tsbuildinfo
/frontend/storybook-static/
/frontend/coverage/

# SDK
/sdk-ts/node_modules/
/sdk-ts/dist/
/sdk-ts/*.tsbuildinfo

# IDE / OS
.DS_Store
.idea/
.vscode/
*.swp
Thumbs.db

# Build artifacts
/build/
